header {
  font-family: century-gothic;
  padding-left: 280px;
  top: 0;
  height: 40vh;
  vertical-align: top;
  background: url(/assets/header1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 50vw;
  float: left;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  bottom: 0;
}

.movie_header {
  position: relative;
  top: 5vh;
  float: left;
}

.movie_header img{
  padding-right: 10px;
}

.movie_header h1 {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  margin-right: 20px;
}

.movie_header p {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
}

.header_right {
  float: right;
  position: relative;
  width: 20vw;
}

.header_right span {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.header_right a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

.header_right a:last-child {
  margin-right: 0;
}
